name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update Submodules
      run: |
        git submodule update --init --recursive
    - name: Cache Core
      uses: actions/cache@v1
      id: cache-core
      env:
        cache-name: cache-core
      with:
        path: Core/build
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('Core/core/**') }}
    - name: Build CMake
      if: steps.cache-core.outputs.cache-hit != 'true'
      run: |
        cd Core
        mkdir build
        cd build
        cmake .. -A x64
        cmake --build . --config Release
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore Altseed2.sln
    - name: Build
      run: dotnet build Altseed2.sln --configuration Release --no-restore
    - name: Test
      continue-on-error: true
      run: dotnet test Altseed2.sln --configuration Release --no-restore --verbosity normal
    - name: Upload artifact
      continue-on-error: true
      uses: actions/upload-artifact@v1.0.0
      with:
        name: test-windows
        path: Build/netcoreapp3.0/log.txt
  
  linux:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Update Submodules
      run: |
        git submodule update --init --recursive
    - name: Cache Core
      uses: actions/cache@v1
      id: cache-core
      env:
        cache-name: cache-core
      with:
        path: Core/build
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('Core/core/**') }}
    - name: Build CMake
      if: steps.cache-core.outputs.cache-hit != 'true'
      run: |
        wget -qO - http://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add -
        sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-1.2.135-bionic.list http://packages.lunarg.com/vulkan/1.2.135/lunarg-vulkan-1.2.135-bionic.list
        sudo apt update
        sudo apt install vulkan-sdk
        sudo apt -y install libx11-dev libxrandr-dev libxi-dev libxinerama-dev libxcursor-dev libudev-dev
        sudo apt -y install libssl-dev
        sudo apt -y install libglu1-mesa-dev mesa-common-dev
        sudo apt -y install libpulse-dev
        cd Core
        mkdir build
        cd build
        cmake ..
        cmake --build . --config Release
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore Altseed2.sln
    - name: Build
      run: dotnet build Altseed2.sln --configuration Release --no-restore
    - name: Test
      continue-on-error: true
      run: dotnet test Altseed2.sln --configuration Release --no-restore --verbosity normal
    - name: Upload artifact
      continue-on-error: true
      uses: actions/upload-artifact@v1.0.0
      with:
        name: test-linux
        path: Build/netcoreapp3.0/log.txt
        
  macOS:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update Submodules
      run: |
        git submodule update --init --recursive
    - name: Cache Core
      uses: actions/cache@v1
      id: cache-core
      env:
        cache-name: cache-core
      with:
        path: Core/build
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('Core/core/**') }}
    - name: Build CMake
      if: steps.cache-core.outputs.cache-hit != 'true'
      run: |
        cd Core
        mkdir build
        cd build
        cmake .. -G "Xcode" 
        cmake --build . --config Release
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore Altseed2.sln
    - name: Build
      run: dotnet build Altseed2.sln --configuration Release --no-restore
    - name: Test
      continue-on-error: true
      run: dotnet test Altseed2.sln --configuration Release --no-restore --verbosity normal
    - name: Upload artifact
      continue-on-error: true
      uses: actions/upload-artifact@v1.0.0
      with:
        name: test-mac
        path: Build/netcoreapp3.0
  
